In [3]:
from imblearn.over_sampling import SMOTE

import helpers
import models

import datetime
import pandas

In [2]:
train_path = r"C:\Users\bruno\Downloads\paysim1\datasource.csv"

In [4]:
df = pandas.read_csv(train_path).drop(['isFlaggedFraud', 'nameOrig', 'nameDest'], axis=1)

In [5]:
df.columns

Index(['step', 'type', 'amount', 'oldbalanceOrg', 'newbalanceOrig',
       'oldbalanceDest', 'newbalanceDest', 'isFraud'],
      dtype='object')

In [6]:
df.type.value_counts()

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [7]:
df.isFraud.value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [8]:
df.loc[df['type'] == 'CASH_IN', 'type'] = 0
df.loc[df['type'] == 'CASH_OUT', 'type'] = 1
df.loc[df['type'] == 'DEBIT', 'type'] = 2
df.loc[df['type'] == 'PAYMENT', 'type'] = 3
df.loc[df['type'] == 'TRANSFER', 'type'] = 4

In [9]:
len(df[df['isFraud'] == 1] )/len(df) * 100

0.12908204481801522

In [10]:
df_non_fraud = df[df['isFraud'] == 0]
df_fraud = df[df['isFraud'] == 1]

In [12]:
df_fraud, fraud_validation = helpers.data_separation(df_fraud)
df = df_non_fraud.append(df_fraud).reset_index()

In [19]:
train, test = helpers.data_separation(df)
test, validation = helpers.data_separation(test, 0.4)

In [20]:
len(train), len(test), len(validation)

(5088781, 763317, 508879)

In [29]:
x_train, y_train = helpers.x_and_y_separation(train)
x_test, y_test = helpers.x_and_y_separation(test)
x_validation, y_validation = helpers.x_and_y_separation(validation)

y_train = pandas.DataFrame(y_train)
y_test = pandas.DataFrame(y_test)
y_validation = pandas.DataFrame(y_validation)

,index,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
1021715,1022283,47,1,214986.80,677.00,0.00,23303.27,238290.08
2206940,2209047,186,3,27208.33,113.00,0.00,0.00,0.00
2151738,2153825,184,3,37743.11,0.00,0.00,0.00,0.00
169886,170022,12,1,26743.78,6718.00,0.00,0.00,26743.78
3976151,3979528,297,3,28352.54,21345.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...
4376123,4379634,311,3,8334.82,49713.00,41378.18,0.00,0.00
4799362,4803217,346,0,157075.58,3562183.64,3719259.22,348589.13,191513.55
2553271,2555573,206,3,10063.32,31990.00,21926.68,0.00,0.00
3109183,3111842,235,1,53551.90,198159.00,144607.10,719019.22,772571.13
398685,398891,18,0,197837.14,52174.00,250011.14,194493.72,0.00